inputbar {
  background-color: @surface0;
  border-radius: 10px;
  padding: 8px 14px;
  margin: 0 0 8px 0;
  spacing: 8px;
  children: [entry, prompt, case-indicator];
}

entry {
  placeholder: "Search";
  placeholder-color: @overlay0;
  text-color: @text;
  cursor-color: @mauve;
  vertical-align: 0.5;
}

prompt {
  text-color: @mauve;
}

case-indicator {
  text-color: @surface2;
}
